body {padding-left: 2rem;}

.skaiciuokles {
    margin: 20px 0;
}

.lentele {
    width: 100%;
    border: 1px solid #ccc;
    margin-top: 2rem;
    border-collapse: collapse;
    display: none;
}

.Xlentele {
    width: 100%;
    border: 1px solid #ccc;
    margin-top: 2rem;
    border-collapse: collapse;
}

.lentele.show {
    display: table;
}

.lentele th, .Xlentele th {
    font-weight: 600;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    text-align: left;
    padding: 0.5rem;
}

.lentele td, .Xlentele td {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    text-align: left;
    padding: 0.5rem;
}

.lentele th:last-child,
.lentele td:last-child, 
.Xlentele th:last-child,
.Xlentele td:last-child {
    border-right: none;
}

.atsakymoZinute {
    margin: 20px 0px;
}

.naujasmygtukas {
    margin: 20px 0px;
    color:white;
    background-color: blue;
    transition: all 1000ms ease-in-out;
}

.klase {
    color:red;
    background-color: yellow;    
}

.integruotaNuoroda {
    font-weight: 700;
    display: block;
}

/* 1klases lentele */

.Plentele  {
    color: green;
}

.Plentele td, .Plentele th {
    border-style: solid;
    border-color: blue;
    border-width: 1px;
    padding: 10px;
}

.Plentele th {
    font-weight: 700;
    color: darkblue;
}

#star {
    overflow-wrap: break-word;
}

.kvadr {
   margin-left: 3rem;
   line-height: 1.15rem;
}

.saskiu-row {
    display: flex;
    align-items: baseline;
}

.zaidejas {
    padding: 1rem 3rem;
    text-align: center;
}

.rezult, .total {
    padding: 2rem 3rem;
    margin: .5rem;
}

#nugaletojas {
    margin-bottom: 2rem;
}

.konteinerisTetis {
    position: relative;
    width: 500px;
    height: 500px;
    background: lightgray;
    margin: 0 auto;
}

.mazasKvadratelis {
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    background: yellowgreen;
    border: 1px solid rgb(53, 28, 7);
    
}

.astunta-uzd {
    background: lightyellow;
    padding-bottom: 1rem;
    padding-left: 1rem;
}

.uzd-8aA, .uzd-8bB {
    font-weight: 700;
}

.stulpeliu {
    margin-left: 1rem;   
}

.uzd-8a-stulpelis p,
.uzd-8b-stulp p {
    margin-bottom: 0;
}

